{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "next/babel"
  ],
  "env": {
    "test": {
      "presets": [
        "@babel/preset-react",
        "@babel/preset-env",
        "next/babel"
      ]
    }
  }
}
